.contenedor__producto{
    display: flex;
    flex-wrap: wrap;
    
}
.card_producto{
    display: flex;
    flex-direction: column;
    border-color:red;
    border-style: solid;
    margin-left:1rem;
}
.card_name_producto{
    padding: 0.1rem 0;
}