.contenedor__producto{
    display: flex;
    margin-bottom: 2rem;
      
}
.card_producto{
    display: flex;
    flex-direction: column;    
    margin-left:1.5rem;
  
}
.card_producto:hover{
    box-shadow: -1px -11px 39px 0px rgba(181,23,23,0.58);
    -webkit-box-shadow: -1px -11px 39px 0px rgba(181,23,23,0.58);
    -moz-box-shadow: -1px -11px 39px 0px rgba(181,23,23,0.58);
}
.card_font{    
    margin: 0.2rem 0.3rem;
    font-family: 'Englebert', sans-serif;
}
.card_ver_producto{
    text-decoration: none;
    margin: 0.2rem 0.3rem;
    text-align: center;
}
.card_ver_producto:hover {
    background-color: rgb(207, 137, 90);
    color:wheat;
}
.card_vista_producto{
   display: flex;
   align-items: center;
   margin-left: 400px; 
   padding-left: 20px;
   width: 500px;
   box-shadow: 7px 18px 30px -3px rgba(0,0,0,0.7); 
   border-radius: 20px;
  
}

.edit_eliminar{
    display: flex;
    padding: 0.5rem 0.2rem;
    margin-left: 250px;
    
}

